body {
  margin: 0;
}

.dogApp {
  display: flex;
  flex-direction: column;
}
.header {
  margin: 0%;
  text-align: center;

  color: rgb(20, 57, 87);
  background-color: rgb(163, 163, 171);
}
h2 {
  font-size: 35px;
}
select {
  font-size: 18px;
}
img {
  border-radius: 4px;
  margin-top: 0;
  margin-left: 5px;
}
#dogJpg {
  width: 45px;
  height: 45px;
}
a {
  padding-left: 35px;
  font-size: 20px;
}

#breed {
  margin-top: 0px;
  padding-bottom: 25px;
}

.slideShow {
  flex: 1;
  background-color: rgb(123, 120, 120);
  width: 100vw;
  height: 100vh;
  margin-top: 0%;
  transition: all ease-in-out 2.9s;
  background-size: contain;
  transform: scale(1);
  margin-bottom: 0%;
  background-size: contain;
}
.slide {
  padding: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 025px;
  margin-top: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center center;
  opacity: 0;
  transition: all ease-in-out 4s;
  transform: scale(1);

  background-size: contain;
}
.slide:nth-last-child(2) {
  opacity: 1;
  transform: scale(1);
  background-size: contain;
  transition: all ease-in-out 3s;
}
footer {
  text-align: right;
}

#northImage {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}
